@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  background-color: #010514;
  color: #eee;
}

:root {
  --text-light: white;
}

/* p{
    color: var(--text-light);
} */

h1 h2 {
  font-size: 2.2rem;
}

span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 90%;
  background-color: red;
  margin: auto;
}
.bg {
  width: 100%;
  background-image: url(./image/image\ copy\ 2.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  margin: 7rem;
}
.poster {
  width: 90%;
  height: 300px;
}
.poster img {
  width: 100%;
  height: 100%;
}
.content {
  height: 500px;
}
.text-movie >span {
  margin-top: 30px;
  font-size: 4.8rem;
  font-weight: bolder;
  line-height: 1;
  text-align: center;
}

.text-movie>span>span {
  color: hotpink;
}
.input-group{
    width: 80%;
    height: 100px;
    
    margin-top: 40px;

  }
@media (min-width: 768px) {
  .poster {
    width: 90%;
    height: 500px;
  }
  .poster img {
    width: 100%;
    height: 100%;
  }

  .input-group {
    width: 50%;
    height: 45px;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    border: 2px solid blueviolet;
    border-radius: 5px;
    overflow: hidden;

  }
  .input-group span {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input-group input{
    display: block;
    width : 90%;
    height: 100%;
    font-size: 2.2rem;
    border: none;
    background-color: transparent;
    color: #eee;

  }
}
@media (min-width: 992px) {
  .poster {
    width: 90%;
    height: 300px;
  }
  .poster img {
    width: 100%;
    height: 100%;
  }
  .text-movie {
  margin-top: 30px;
  width: 30%;
  font-size: 4.8rem;
  font-weight: bolder;
}
.input-group{
    width: 50%;
    height: 100px;
    background-color: blue;
    margin-top: 40px;

  }
}
@media (min-width: 1200px) {
  .poster {
    width: 50%;
    height: 400px;
  }
  .poster img {
    width: 100%;
    height: 100%;
  }
  .text-movie {
  margin-top: 30px;
  width: 60%;
  font-size: 4.8rem;
  font-weight: bolder;
}
.input-group{
    width: 50%;
    height: 100px;
    background-color: blue;
    margin-top: 40px;

  }

}
