@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  background-color: #010514;
  color: #eee;
}

:root {
  --text-light: white;
}

/* p{
    color: var(--text-light);
} */

h1 h2 {
  font-size: 2.2rem;
}

span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 90%;
  background-color: red;
  margin: auto;
}
.bg {
  width: 100%;
  background-image: url(./image/image\ copy\ 2.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  margin: 7rem;
}
.poster {
  width: 90%;
  height: 300px;
}
.poster img {
  width: 100%;
  height: 100%;
}

.text-movie > span {
  margin-top: 30px;
  font-size: 4.8rem;
  font-weight: bolder;
  line-height: 1;
  text-align: center;
}

.text-movie > span > span {
  color: hotpink;
}
.input-group {
  width: 90%;
  height: 60px;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  border: 2px solid blueviolet;
  border-radius: 15px;
  overflow: hidden;
}
.input-group span {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-group span i {
  font-size: 20px;
  color: blueviolet;
}
.input-group input {
  display: block;
  width: 90%;
  height: 100%;
  font-size: 2.2rem;
  border: none;
  background-color: transparent;
  color: #eee;
}
.container-width {
  max-width: 90%;
  /* height: 500px; */
  background-color: rgb(5, 5, 44);
  margin: auto;
}

.text {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-left: 5%;
}

.text h1 {
  font-size: 5rem;
}

.main-section{
  margin-top: 5rem;
}

.grid-section{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1.5rem;
  margin-top: 2rem;
}
.items{
  height: 350px;
  background-color: rgb(21, 21, 57);
}

@media (min-width: 768px) {
  .poster {
    width: 90%;
    height: 500px;
  }
  .poster img {
    width: 100%;
    height: 100%;
  }
  .text-movie {
    margin-top: 30px;
    width: 60%;
    font-size: 4.8rem;
    font-weight: bolder;
  }

  .input-group {
    width: 60%;
    height: 70px;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    border: 2px solid blueviolet;
    border-radius: 15px;
    overflow: hidden;
  }
  .input-group span {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input-group span i {
    font-size: 25px;
    color: blueviolet;
  }
  .input-group input {
    display: block;
    width: 90%;
    height: 100%;
    font-size: 2.9rem;
    border: none;
    background-color: transparent;
    color: #eee;
  }
  .grid-section{
  display: grid;
  grid-template-columns:  repeat(2,1fr);
  grid-template-rows: 1fr;
  gap: 1.5rem;
  margin-top: 2rem;
}
}
@media (min-width: 992px) {
  .poster {
    width: 90%;
    height: 300px;
  }
  .poster img {
    width: 100%;
    height: 100%;
  }
  .text-movie {
    margin-top: 30px;
    width: 60%;
    font-size: 4.8rem;
    font-weight: bolder;
  }
  .input-group {
    width: 50%;
    height: 70px;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    border: 2px solid blueviolet;
    border-radius: 15px;
    overflow: hidden;
  }
  .input-group span {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input-group span i {
    font-size: 25px;
    color: blueviolet;
  }
  .input-group input {
    display: block;
    width: 90%;
    height: 100%;
    font-size: 2.8rem;
    border: none;
    background-color: transparent;
    color: #eee;
  }
  .grid-section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  margin-top: 2rem;
}
}
@media (min-width: 1200px) {
  .poster {
    width: 50%;
    height: 400px;
  }
  .poster img {
    width: 100%;
    height: 100%;
  }
  .text-movie {
    margin-top: 30px;
    width: 60%;
    font-size: 4.8rem;
    font-weight: bolder;
  }
  .input-group {
    width: 45%;
    height: 80px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 2px solid blueviolet;
    overflow: hidden;
  }
  .input-group span {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input-group span i {
    font-size: 30px;
    color: blueviolet;
  }
  .input-group input {
    display: block;
    width: 90%;
    height: 100%;
    font-size: 3rem;
    border: none;
    background-color: transparent;
    color: #eee;
  }
  .grid-section{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  margin-top: 2rem;
}
}
